<div tj-file="{{id}}" class="tj-file">
	<div class="tj-file-thumbnail" tj-thumbnail="{{thumbnail}}" style="background-image: url('{{thumbnail}}');">
		<input type="checkbox" />
	</div>
	{{#if name}}
		<h3>{{name}}</h3>
	{{/if}}
</div>