<div class="tj-toolbar">
	<button role="back">
		<i class="fa fa-chevron-left"></i>
	</button><button role="add">
		<i class="fa fa-plus"></i>
	</button><button role="remove">
		<i class="fa fa-minus"></i>
	</button>
</div>
<div class="tj-content">
	
</div>
<div class="tj-uploader" style="display:none;">
	<form>
		<input type="file" accept="image/gif, image/jpeg, image/png, image/jpg" />
		<input type="submit" value="Enviar" />
	</form>
</div>
<div tj-loading>
	<i class="fa fa-spinner fa-spin"></i>
</div>