<div class="tj-toolbar">
	<button role="add">
		<i class="fa fa-plus"></i>
	</button><button role="remove">
		<i class="fa fa-minus"></i>
	</button>
</div>
<div class="tj-content">
	
</div>
<div class="tj-uploader" style="display:none;">
	<form>
		<input type="file">
	</form>
</div>
<div tj-loading>
	<i class="fa fa-spinner fa-spin"></i>
</div>